.dt-wrapper{
width: 200px;

}
.dt-header--wrap{
width: 200px;
display: flex;
justify-content: space-between;
}

.dt-calendar{
display: flex;
width: 150px;
height: 20px;
}

.dt-month, .dt-year{
width: 80px;
}

.dt-ym-form{
width: 200px;
display: flex;
justify-content: space-between;
}

.dt-row{
display: flex;
justify-content: space-between;
width: 200px;
height: 20px;
margin: auto;
}

.dt-row span{
width: 20px;
text-align: center;
cursor: pointer;

}
.dt-row span:nth-of-type(6), .dt-row span:nth-of-type(7) {
color: red;
}

.dt-hidden{
	display: none;
}

.dt-not-curmonth{
	color: gray!important;
}

.dt-header {
	position: relative;
  }
      
.dt-close {
	cursor: pointer;
  }

 .dt-picked {
	background-color: antiquewhite;
  }

input[type=number] ::-webkit-outer-spin-button,
input[type=number] ::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}


  